@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Lato:wght@900&family=Righteous&family=Roboto&family=Roboto+Condensed&display=swap');

/* ESTILIZAÇÃO DO SITE INTEIRO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* Pagina HOME */
.container-conteudo-page {
    background-color: #191919;
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    filter: saturate(120%);
    background-size: cover;
    display: flex;
    justify-content: center;
    z-index: -1;
    position: relative;
}

/* CONTAINER CONTEÚDO */
.container-conteudo{
    display: flex;
    width: 90%;
    height: 100%;
}

/* CONTEUDO DA PAGINA HOME 'FIFA 2023' */

.texto-fifa-home h1{
    color: white;
    width: auto;
    display: flex;
    justify-content: flex-start;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


.texto-fifa-home {
    display: flex;
    margin-top: 6%;
    margin-left: 10%;
    flex-direction: column;
    z-index: 0;
}

/* Propriedades definidas individualmente a estes textos */

#fifa-Text {
    font-size: 150px;
    padding: 0;
    color: transparent;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
}

#home-2023 {
    font-size: 140px;
    padding: 0;
    margin-top: -50px;
    height: auto;
    font-family: 'Righteous';
}

/* Imagem Bola */

.bola_div {
    width: auto;
    height: min-content;
    margin-top: 5%;
    z-index: 1;
    background-color: transparent;
}

#bola-img {
    width: 350px;
    height: 350px;
}
