#imagem-section-jogo-rapido{
    filter: brightness(20%);
    background-size: cover;
    width: 100vw;
    height: 700px;
    position: absolute;
    overflow-y: hidden;
}

/* Section sobre */

.jogo-rapido {
    display: flex;
    position: relative;
}

.container-jogo-rapido {
    width: 100%;
    height: 700px;
    background-size: cover;
    z-index: 2;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-direction: column;
    align-items: center;
}

/* Conteúdo Sobre */
.conteudo-jogo-rapido {
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
    align-items: center;
    overflow-y: hidden;

}


/* video carreira individual */