@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Lato:wght@900&family=Righteous&family=Roboto&family=Roboto+Condensed&display=swap');

/* ESTILIZAÇÃO DO SITE INTEIRO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container-page{
    background-image: url('../assets/background_perfil.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-page {
    background-color: rgba(0, 0, 0, 0.644);
    width: 80%;
    height: 95%;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    backdrop-filter: blur(2px);
    
}

#bem_vindo_titulo {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
}

.container-titulo {
    justify-content: center;
    width: fit-content;
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 5vh;
}


.container-central{
    width: 80%;
    height: 75%;
    display: flex;
    margin-top: 4vh;
}
.container-esquerdo {
    width: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
}

.container-direito {
    width: 60%;
    display: flex;
    padding-top: 4vh;
    flex-direction: column;
    align-items: center;
}

.texto-style {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    overflow-y: hidden;
}

#sortear_texto{
    margin-top: 2vh;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 20vw;
}

#logo_nenhum_clube {
    margin-top: 3vh;
    width: 50%;
    height: 70%;

}

#input_time {
    border-color: white;
    width: 15vw;
    height: 5vh;
    padding-left: 10px;
    margin-top: 6vh;
    border-radius: 10px;
    background-color: transparent;
    color: white;

}
#input_time::placeholder
 {
    color: white;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

#btn_pesquisa {
    border: none;
    width: 6vw;
    height: 4vh;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px solid white;
    margin-top: 4vh;
    background-color: transparent;
    padding-bottom: 5px;

}

#btn_pesquisa:hover {
    cursor: pointer;
    border-color: white;
    
}